__pycache__/
.vscode/
.idea/
*.log
.venv/
.env
node_modules/
goscenic-backend/.env
venv/
*.pyc
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
goscenic-backend/itinerary.json
goscenic-backend/itinerary.json
# Next.js build output
web/.next/
